
.tool-box {
  .add-tool-btn {
    @include box-shadow();

    background-color: $green;
    border: none;
    border-radius: 50%;
    bottom: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    height: 55.5px;
    line-height: 56px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 55.5px;
    z-index: 1;
  }
}

.tools__list {
  @include outer-container;
}

.tool {
  margin-bottom: 70px;
  padding: 15px;
  position: relative;

  .logo--wrapper {
    height: 8em;
    width: 8em;
  }

  .tool__logo {
    display: table-cell;
    height: 8em;
    text-align: center;
    vertical-align: middle;
    width: 8em;
  }

  img {
    height: 60%;
    width: 60%;
  }

  .tool__remove, .tool__edit {
    color: $white;
    position: absolute;
    top: -25px;
  }

  .tool__edit {
    background: $materialBlue;
  }

  .tool__remove {
    background: $red;
  }
}

#tool-form-wrapper {
  bottom: 25px;
  position: fixed;
  right: 0;
  width: 100%;

  .tool-form {
    @include box-shadow();
    @include pad(10px 10px);

    background: $white;
    border-radius: 3px;
    border: 20px solid $black;
    bottom: 90px;
    margin: 12px 15px;
    position: absolute;
    width: 320px;
  }
}

@import 'tools-animation';
@import 'tools-phone';
@import 'tools-tablet';
@import 'tools-desktop';
