.tools__list {
  @include media($tablet-landscape) {
    padding: 10px;
  }
}

.tool {
  @include media($tablet-landscape) {
    @include span-columns(4);
    @include omega(3n); // &:nth-child(3n) { margin-right: 0; }

    height: 320px;

    .logo--wrapper {
      margin: auto;
    }

    .tool__edit {
      right: 13%;
    }

    .tool__remove {
      right: -2%;
    }
  }
}
