.tool {
  @include media($desktop) {
    @include span-columns(3);
    @include omega(4n); // &:nth-child(4n) { margin-right: 0; }

    height: 330px;

    .logo--wrapper {
      margin: auto;
    }

    .tool__edit {
      right: 16%;
    }

    .tool__remove {
      right: -5%;
    }
  }
}
