.tools__list {
  @include media($phone-portrait) {
    padding: 10px;
  }
}

.tool {
  @include outer-container;

  @include media($phone-portrait) {
    @include span-columns(12);

    .logo--wrapper {
      @include span-columns(1 of 12);

      height: 5em;
      width: 5em;
    }

    .tool__logo {
      display: table-cell;
      height: 5em;
      text-align: center;
      vertical-align: middle;
      width: 5em;
    }

    img {
      height: 65%;
      width: 65%;
    }

    .tool--info {
      @include span-columns(8 of 12);
      @include omega;

      margin-left: 5px;
    }

    .tool--actions {
      clear: both;
      padding-top: 15px;
    }

    .tool__edit {
      right: 13%;
    }

    .tool__remove {
      right: -2%;
    }
  }

  @include media($phone-landscape) {
    @include span-columns(6);
    @include omega(2n); // &:nth-child(2n) { margin-right: 0; }

    height: 350px;
  }
}
